#container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: center;
}

.square {
    box-sizing: border-box;
    border: 1px solid gray;
}